header{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0)
    ),
    url(../img/DSC05035.jpg);
  background-size: cover;
  background-position: center;
  color: yellow;
}
.navbar-header {
    float: none;
}
.navbar-toggle {
    display: block;
}
@media(min-width: 541px){
  #navcenter{
  margin-left: 25%!important;
  margin-right: 25%!important;
  width: 50%!important;
  }
}
/*#bs-example-navbar-collapse-1{
  background-color: white!important;
}*/
.navbar-collapse.collapse {
    display: none!important;
  }

.navbar-nav>li {
    float: none;
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
}
.navbar-collapse.collapse.in{
    display: block!important;
    text-align: center!important;
}
.fa-book{
  color: green!important;
}
#buttonSC{
  background-color: blue;
  color: white!important;
}
#download{
  /*height: 100vh!important;*/
  width: 100%;
  background-color: #179dc4;
}
.section-heading{
  color: red;
}
.align-center{
  vertical-align: middle;
  padding-top: 25vh;
}

.fa-phone {
  color: black!important;
}
.black-text {
  color: red!important;
  transparent: 0.0;
}
#seperator {
  /*width: 40px;
  height: 40px;*/
  background-color: white;
  color: black;
  border-radius: 50%;
  align-items: center;
  align-self: center;
  text-align: center;
}
.marginzero{
  margin: 0px;
  /*padding: 0px;*/
}
@media(min-width: 1200px){
.col-lg-offset-1-2{
  margin-left: 4.165%;
}
.col-lg-5{
  margin-top: 8px;
}
.col-lg-pull-1-2 {
  right: 7.166665%;
}
}
@media (max-width: 1200px) {
.col-sm-offset-11-2{
  margin-left:45.833333335%;
}
.marginzero{
  margin-top: 10px;
  margin-bottom: 10px;
}
}
@media(max-width: 768px){
  .col-xs-offset-11-2{
    margin-left:45.833333335%;
  }
  .col-xs-offset-5 {
    margin-left: 41.66666667%;
  }
}
.footer {
  margin-left: 25%;
  width: 50%;
  margin-right: 25%;
  text-align: center;
  margin-top: 0px;
  padding-top: 0px;
}
.modal h3{
  color: blue;
}
#portfolio{
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../img/showOff1.jpg);
  background-size: cover;
  background-position: center;
}
#projone{
  margin-top: 20px;
}
.boxed{
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}
.img-responsive {

}
#conpic{
  margin-left: 15%;
  maring-right: 15%;
}

@media(min-width: 541px ){
  .acpic{
    align-self: center!important;
    align-content: center!important;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

.picholder{
  padding: 0px;
  margin-top: 20px;
}
#whiteback{
  /*background-color: white;*/
  color: #FFF;
}
ol li {
  margin-bottom: 10px;
}
ul li {
  margin-bottom: 10px;
}
a{
  color: black;
  text-decoration: underline;
}



.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: white;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: white;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
.menumodal{
  /*background-color: #c3efff;*/
  background: rgba(250, 250, 250, 0.1);
  padding-left: 0px;
  padding-right: 0px;
  /*backface-visibility: transparent;*/
}
#navnav{
  font-size: 1.5em;
  vertical-align: bottom;
}
#navnav ul a li {
  padding-bottom: 15px;
  padding-top: 15px;
  list-style-type: none;
  background-color: blue;
  border-radius: 15px;
  vertical-align: middle;
  text-align: center;
  margin-bottom: 10px;
}
#modmod{
  padding-top: 25%;
}
#navnav ul a{
  color: white!important;
  text-decoration: none;
}
#navnav ul a:hover{
  color: white!important;
  text-decoration: underline;
}
#navnav ul {
  padding: 0px;
}
.portfolio-modal{
  height: 100vh;
}
